.login_body {
	position: relative;
	top: 6rem;
	right: 4rem;
	display: flex;
	flex-direction: column;
}
.login_wrapper {
	background-color: #fff;
	width: 350px;
	padding: 15px 1px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.login_form_group > h2 {
	text-align: center;
	margin: 1em;
	transition: all 0.3s;
}
.form_group {
	margin-bottom: 1em;
	transition: all 0.3s;
}
.form_label {
	font-size: 1em;
	color: #aaa;
	display: block;
	opacity: 1;
	transform: translateY(-1.55em);
	transform-origin: 0 0;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}
.form_control {
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.02);
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid #ccc;
	width: 250px;
	transition: all 0.5s;
	padding: 5px;
	caret-color: #504be5;
}
.form_control::placeholder {
	color: transparent;
}
.form_control:focus {
	box-shadow: none;
	outline: none;
	border-color: #504be5;
}
.form_control:focus + .form_label,
.form_control:not(:placeholder-shown) + .form_label {
	transform: translateY(-2.9em) scale(0.7);
}
.form_group:focus-within {
	transform: scale(1.05, 1.05);
}
.login_btn > input {
	width: 250px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: rgb(205, 205, 205);
	/* border: 0.5px solid rgb(243, 238, 238); */
	transition: all 0.3s ease-in-out;
}
.login_btn > input:hover {
	background-color: #504be5;
	border-color: none;
	cursor: pointer;
	border: none;
	color: white;
}
.login_btn > p {
	margin-top: 5px;
	text-align: center;
}
.error-msg {
	margin-top: -1rem;
	margin-bottom: 1rem;
}
@media only screen and (max-width: 480px) {
	.login_body {
		position: relative;
		top: 6rem;
		right: auto;
		left: auto;
		align-items: center;
	}
}
