.design-div {
	background-color: #504be5;
	width: 100%;
	height: 90vh;
	border-radius: 0% 0% 96% 0% / 0% 1% 71% 0%;
}
.sm-title {
	display: none;
}
.heading {
	color: #fff;
	top: 8rem;
	left: 5rem;
	letter-spacing: 3px;
	width: 550px;
}

.sub-heading {
	margin-top: 4rem;
}
.blob1 {
	top: 5rem;
}
.blob2 {
	top: 20rem;
	right: 27rem;
}
.blob3 {
	top: 2rem;
	right: 5rem;
}
.blob4 {
	left: 15rem;
	bottom: 0rem;
}
@media only screen and (max-width: 1200px) {
	.heading {
		width: 500px;
		font-size: 3rem;
	}
}
@media only screen and (max-width: 1024px) {
	.heading {
		margin-top: 5rem;
		width: 400px;
		font-size: 2rem;
		word-wrap: break-word;
	}
	.sub-heading {
		font-size: 1.5rem;
		margin-top: 2rem;
	}
}
@media only screen and (max-width: 846px) {
	.heading {
		width: 300px;
		font-size: 2rem;
		word-wrap: break-word;
	}
}
@media only screen and (max-width: 768px) {
	.heading {
		top: 10rem;
		width: 150px;
		font-size: 1.5rem;
	}
	.sub-heading {
		font-size: 1.3rem;
		margin-top: 2rem;
	}
}
@media only screen and (max-width: 667px) {
	.heading {
		display: none;
	}
	.sub-heading {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	.design-div {
		width: 100%;
		height: 90vh;
	}
	.main-heading {
		width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo-icon {
		width: 2rem;
		height: 2rem;
	}
	.logo-icon-div {
		position: absolute;
		right: 6rem;
		top: 3rem;
	}
	.sm-title {
		position: absolute;
		display: block;
		font-size: large;
		width: 250px;
		top: 7rem;
		color: white;
		font-weight: bold;
	}
}
